<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Unique Warriors | Cyberfantasy</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" />

    <partial name="LayoutParts/_Fonts" model="this" />
    <partial name="LayoutParts/_ScriptsHead" model="this" />
    <partial name="LayoutParts/_Styles" model="this" />
</head>
<body>
    <header>
        <partial name="LayoutParts/_Navbar" model="this" />
        <partial name="LayoutParts/_Sidebar" model="this" />
    </header>
    <div class="navBarBreak"></div>
    <div id="scrollingElement">
        <div class="container">
            <main id="page" placeholder="Loading...">
                @RenderBody()
            </main>
        </div>
    </div>

    <div id="tooltipStyles">

    </div>
    <div id="tooltips">
    </div>
    <div id="dialogs">
    </div>
    <div id="scrollButtons" class="listVertical">
    </div>

    <div id="iframeContainer">
    </div>

    <footer>
        <partial name="LayoutParts/_Footer" model="this" />
    </footer>

    <partial name="LayoutParts/_Scripts" model="this" />
</body>
</html>