@if (TempData[XError.serverError] != null)
{
    <div>
        <h2 class="danger-text" style="margin-top:64px">Server Error</h2>
        An unexpected error occured on the server. Please wait while this issue is being resolved. This may take a while.
    </div>
}