.highlight {
  background-color: var(--highlight-color);
}

.search-highlight {
  background-color: var(--search-highlight-color);
}

h2 .search-highlight, h4 .search-highlight {
  background-color: var(--contrast-search-highlight-color);
}
