@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="masonryGrid" gap-x="20" gap-y="20" min-width="300" center-at-start>
    <a class="masonryGridItem largeElement raised" href="https://github.com/DeadlyArtist/aidevsuite" target="_blank">
        <h1>aidevsuite</h1>
        Automatically and quickly create tools by hand or with AI. Simple syntax allows quickly iterating through and creating highly specific tools for you or your clients without the need to go through the pain and effort of setting up yet another website.
    </a>
</div>
