<nav class="sidebar listContainerVertical children-w-100">
    <div class="listVertical children-w-100" style="gap: 4px;">
        <a id="homeButton" class="element sidebarElement hoverable" href="#">Projects</a>
    </div>
    <div class="listVertical children-w-100" style="gap: 4px;">
        <a id="sourceButton" class="element sidebarElement hoverable" tooltip="The source is fully available on GitHub." href="https://github.com/DeadlyArtist/Home" target=”_blank”>Source</a>
    </div>
</nav>
<div id="sidebarOverlay" class="sidebarOpenOnly sidebarControlsEnabledOnly sidebarOverlay"
     onclick="closeSidebar()"></div>