<nav class="sidebar listContainerVertical children-w-100">
    <div id="sidebarList" class="listVertical children-w-100" style="gap: 4px;">

    </div>
    <div class="listVertical children-w-100" style="gap: 4px;">
        <div id="sidebarBottomList" class="listVertical children-w-100" style="gap: 4px;">

        </div>
        <a id="sourceButton" class="element sidebarElement borderedHoverable" tooltip="The source is fully available on GitHub." href="https://github.com/DeadlyArtist/UniqueWarriors" target=”_blank”>Source</a>
        <a id="sourceButton" class="element sidebarElement borderedHoverable" tooltip="See my website for my other projects." href="https://deadlyartist.com/" target=”_blank”>Deadly Artist</a>
    </div>
</nav>
<div id="sidebarOverlay" class="sidebarOpenOnly sidebarControlsEnabledOnly sidebarOverlay" onclick="closeSidebar()"></div>